$color-main: #E63946;
$color-main-lighter: #F74A57;
$color-light: #C4C4C4;
$color-lighter: #DDDDDD;
$color-the-lightest: #F5F5F5;


#root {
    display: flex;

    >div {
        height: 100vh;
    }
}

#left-menu {
    background-color: $color-main;
    flex: 2;
    min-width: 250px;
    // flex-basis: 300px;

    #logo {
        font-family: 'Pacifico', cursive;
        text-align: center;
        color: white;
        text-shadow: 0px 0px 1rem rgba(232, 212, 31, 1);
        letter-spacing: 0.05rem;
        margin: 1.5vh 0;
    }

    #menu {

        .option {
            color: white;
            line-height: 3.5;
            font-size: 2rem;
            font-weight: bold;
            cursor: pointer;

            &:hover {
                -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
                -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
                box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
                // text-shadow: 0 0 10px rgba(232, 212, 31, 1);
            }
                

            .content {
                width: 70%;
                margin: 0 auto;

                .icon {
                    font-size: 2.5rem;
                    position: relative;
                    top: 0.5rem;
                }
                
                .text {
                    margin-left: 0.7rem;
                }
            }
        }
    }
}

#conversations {
    background-color: $color-lighter;
    flex: 3;
}

#chat {
    background-color: white;
    flex: 5;
    // min-width: 550px;
}